.btn-username {
    font-weight: 400;
    padding-top: 2px;
    padding-left: 5px;
}

.coronita-flex {
    display: flex;
    flex-direction: column;
}

.btn-flex {
    display: flex;
    align-items: center;
}

.coronita {
    display: none;
    position: relative;
    right: 4px;
    transform: rotate(-24deg);
    z-index: 100;
}

.foto-perfil {
    position: relative;
}

li.premium-button {
    display: none;
}