._navbar {
    display: flex;
    background-color: black;
    padding: 7px 15px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: unset;
}

.icon-navbar {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.login-btn {
    margin-left: auto;
}

.navbar-link-button:hover {
    color:rgb(248, 225, 14) !important;
    font-size:20px;
}
.navbar-link-button{
    font-size:18px;
    font-weight: bolder;
}

@media screen and (max-width: 800px) {
    .navbar-link-button {
        display: none;
        background-color: green;
    }
}