<nav class="_navbar">
    <img class="icon-navbar" src="assets/img/logo.png">
    <a class="navbar-link-button nav-link active text-light lead ms-3" routerLink="/principal">Inicio</a>
    <a class="navbar-link-button nav-link active text-light lead" routerLink="/principal">Agregar a discord</a>
    <a class="navbar-link-button nav-link active text-light lead" routerLink="/comandos">Comandos</a>
    <a class="navbar-link-button nav-link active text-light lead" routerLink="/calendario">Eventos</a>
    <app-login-button class="login-btn"></app-login-button>
</nav>
