<div class="contenedor">


<h1>
    EVENTOS DE HOY
</h1>


<div id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
       <div id="overflow">
          <div class="inner">
             <div class="slide slide_1" >
                <div class="slide-content">
                   <h2>CS:GO</h2>
                   <p>Evento CSGO gran final</p>
                   <button type="button" class="btn btn-info">Unirse</button>
                   
                </div>
             </div>
             <div class="slide slide_2">
                <div class="slide-content">
                   <h2>LOL</h2>
                   <p>Torneo LOL 2021</p>
                   <button type="button" class="btn btn-info">Unirse</button>
                </div>
             </div>
             <div class="slide slide_3">
                <div class="slide-content">
                   <h2>Valorant</h2>
                   <p>Torneo valorant 2021</p>
                   <button type="button" class="btn btn-info">Unirse</button>
                </div>
             </div>
             <div class="slide slide_4">
                <div class="slide-content">
                   <h2>Evento 5</h2>
                   <p>contenido evento 5</p>
                   <button type="button" class="btn btn-info">Unirse</button>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div id="controls">
       <label for="slide1"></label>
       <label for="slide2"></label>
       <label for="slide3"></label>
       <label for="slide4"></label>
    </div>
    <div id="bullets">
       <label for="slide1"></label>
       <label for="slide2"></label>
       <label for="slide3"></label>
       <label for="slide4"></label>
    </div>
 </div>
 <h2>
    PROXIMOS EVENTOS
</h2>

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">



<style>

</style>

<body>



<div class="netflix-slider">
  
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="assets/img/cs.jpg"></div> 
      <div class="swiper-slide"><img src="assets/img/cs.jpg"></div>
      <div class="swiper-slide"><img src="assets/img/cs.jpg" ></div>
      <div class="swiper-slide"><img src="assets/img/cs.jpg" ></div>
      <div class="swiper-slide"><img src="assets/img/cs.jpg" ></div>
      <div class="swiper-slide"><img src="assets/img/cs.jpg" ></div>
      <div class="swiper-slide"><img src="assets/img/cs.jpg" ></div>
      <div class="swiper-slide"><img src="assets/img/cs.jpg" ></div>
      <div class="swiper-slide"><img src="assets/img/cs.jpg"></div>
      <div class="swiper-slide"><img src="assets/img/cs.jpg" ></div>
      <div class="swiper-slide"><img src="assets/img/cs.jpg" ></div>
    </div>
    
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>




