body{
    font-family: open sans;
    font-weight: 200;
    letter-spacing: .05rem;
}

.btn-primary:hover{
    background-color: #D576F5;
    border: 2px solid black;
}

.container{
    margin-left: 33%;
    margin-top: 20%;
}
.img-fluid{
    margin-left: 52%;
    margin-top: -21%;
}
.img-fluid2{
    margin-left: 2%;
    
}
.btn{
    margin-right: 3%;
}

.lead-xl{
    font-size: 1.75rem;
}

.btn-primary{
background-color:#BB1CF3 ;
border: 2px solid black;
border-radius: 20rem;
color: white;
}
