<div class="mis-eventos-container">
    <div class="mis-eventos-card">
        <h2>Mis eventos</h2>
        <div *ngIf="misEventos.length == 0" class="text-danger">No creaste ningún evento con este usuario</div>
        <div *ngIf="misEventos.length > 0" class="lista-eventos">
            <div class="evento-container" *ngFor="let evento of misEventos">
                {{ evento.nombre }}
                <div class="botones-evento">
                    <div class="dropdown">
                        <button class="btn btn-primary btn-mas dropdown-toggle" data-bs-toggle="dropdown">Editar</button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-primary">
                          <li><a (click)="mostrarCartelEditar(evento.id, 'nombre')" class="dropdown-item">Editar nombre</a></li>
                          <li><a (click)="mostrarCartelEditar(evento.id, 'descripcion')" class="dropdown-item">Editar descripcion</a></li>
                          <li><a (click)="mostrarCartelEditar(evento.id, 'fecha')" class="dropdown-item">Editar fecha</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-danger" (click)="mostrarCartelBorrar(evento.id)">Borrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="borrar-cartel-fondo">
    <div class="borrar-cartel modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Borrar evento</h4>
            <button type="button" class="btn-close" (click)="cerrarCartelBorrar()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Estas seguro de borrar el evento?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cerrarCartelBorrar()">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="borrarEvento()">Borrar evento</button>
        </div>
    </div>
</div>

<div class="editar-cartel-fondo">
    <div class="editar-cartel modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Editar {{opcionElegidaEditar}}</h4>
            <button type="button" class="btn-close" (click)="cerrarCartelEditar()" aria-label="Close"></button>
        </div>
        <form [formGroup]="editarEventoForm" (ngSubmit)="editarEvento()">
            <div class="modal-body">
                <label for="opcion" class="form-label label-editar">{{opcionElegidaEditar}}:</label>
                <input *ngIf="opcionElegidaEditar == 'nombre'" class="form-control" id="opcion" type="text" formControlName="data">
                <input *ngIf="opcionElegidaEditar == 'fecha'" class="form-control" id="opcion" type="datetime-local" formControlName="data">
                <textarea *ngIf="opcionElegidaEditar == 'descripcion'" class="form-control" id="opcion" type="text" formControlName="data"></textarea>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" (click)="cerrarCartelEditar()">Cancelar</a>
                <button type="submit" class="btn btn-success">Editar evento</button>
            </div>
        </form>
    </div>
</div>
