  <header>
    
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <img src="assets/img/logo.png" class="img-fluid2" width="50" height="50" alt=""> 
        <a class="navbar-brand text-light lead" href="#">Agregar a discord</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-light lead" aria-current="page" href="comandos">Comandos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light lead" href="patreon.html">Patreon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light lead" href="organizarevento.html">Organizar evento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light lead" aria-current="page" href="calendario">Eventos</a>
            </li>
          
            
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               
              </ul>
            
           
          </ul>
       
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            <form class="d-flex">
            </form>
            <app-login-button></app-login-button> 
          </div>
      </div>

    </nav>
  </header>






<router-outlet>

</router-outlet>
