@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,900&display=swap';

.crear-evento-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    height: calc(100vh - 64px);
}

.crear-evento-card {
    background: #fff;
    border: 2px solid #5559;
    width: 450px;
    height: 550px;
    padding: 30px 50px;
    border-radius: 15px;
}

.steps-name-container {
    display: flex;
    justify-content: space-between;
    color: #3337;
    margin-top: 17px;
}

.step:first-child {
    color: #212121;
}

.step-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.circle-step {
    border: 2px solid #5555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.circle-step:first-child {
    background: #7289DA;
}

.step-line {
    width: 90px;
    height: 2px;
    background: #5555;
}

.login-container {
    text-align: center;
    margin-top: 60px;
}

.login-container p {
    margin-top: 40px;
}

.login-container p {
    line-height: 1.75;
}

.login-button {
    background: #7289DA;
    color: #fff;
    border: 2px solid #6986D7;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
}

.servers-container {
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    grid-template-columns: repeat(3, 100px);
    justify-content: space-between;
    margin-top: 25px;
    gap: 15px;
    height: 300px;
}

.servers-container::-webkit-scrollbar { width: 8px };
.servers-container::-webkit-scrollbar-track { background: #f1f1f1 }
.servers-container::-webkit-scrollbar-thumb { background: #888 }
.servers-container::-webkit-scrollbar-thumb:hover { background: #555 }

.server-div {
    background-size: contain;
    margin: 5px;
    height: 92px;
    display: flex;
    border: 1px solid #212121;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    color: #ddd;
}

.evento-formulario {
    display: none;
    flex-direction: column;
    margin-top: 25px;
}

.submit-btn-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.submit-btn {
    background:#212121;
    color: #f5f5f5;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.evento-formulario label {
    margin-bottom: 5px;
}

.evento-formulario input {
    border-radius: 5px;
    border: 2px solid #21212150;
    padding: 7px 12px;
    margin-bottom: 20px;
}

#descripcion-evento {
    resize: none;
    overflow: visible;
    border-radius: 5px;
    border: 2px solid #21212150;
    padding: 7px 12px;
}

/* Custom scrollbar */
#descripcion-evento::-webkit-scrollbar { width: 10px };
#descripcion-evento::-webkit-scrollbar-track { background: #f1f1f1 }
#descripcion-evento::-webkit-scrollbar-thumb { background: #888 }
#descripcion-evento::-webkit-scrollbar-thumb:hover { background: #555 }