
<div class="contenedor">
  <div class="titulo-div">
    <h1>Eventos</h1>
    <button class="btn btn-success" routerLink="/crear-evento">+ Crear evento</button>
  </div>
  <div class="eventos-flex">
    <div *ngFor="let evento of eventos" class="card">
      <img src="{{evento.url}}" class="card-img-top" alt="...">
      <h2 class="card-title ">{{ evento.nombre }}</h2>
      <p class="card-text ">{{ evento.descripcion }}</p>
      <p class="card-text">{{ evento.fecha }}</p>
      <div class="botones-evento d-flex">
        <a class="btn btn-primary btn-unirse">Unirse</a>
      </div>
    </div>
  </div>
</div>