
h1{
   display: inline-block;
   font-family: 'Courier New', Courier, monospace;
   margin-right: 30px;
   margin-top: 10px;
}

h5{
   text-align: center;
   color: black;
}

p{
   text-align: center;
   color: black;
   font-size: small;
}

.botones-evento {
   justify-content: center;
}

.contenedor{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-size: cover;
   padding-bottom: 20px;
}

.eventos-flex {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 15px;
   margin-top: 30px;
}

.card {
   width: 17rem;
   border: 1px solid #4449;
}

.card-img-top {
   border-bottom: 1px solid #5559;
   height: 215px;
}

.titulo-div {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

.eventos-flex .card-celular {
   display: none;
}

@media screen and (max-width: 1180px) {
   .eventos-flex {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width: 910px) {
   .eventos-flex {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
   }
}

@media screen and (max-width: 620px) {
   .eventos-flex {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(1, 300px);
      margin-bottom: 5px;
   }
   .eventos-flex .card-default {
      display: none;
   }
   .eventos-flex .card-celular {
      display: flex;
      background-color: #fff;
      border: 1px solid #5555;
      border-radius: 9px;
   }
   .card-img {
      min-width: 150px;
      max-width: 150px;
      height: 150px;
   }
   .card-contenido {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}