
<div class="container-payment">
    <div class="card-payment">
        <h4>Plan de 1 mes</h4>
        <span class="precio">$100</span>
        <button class="btn btn-dark" (click)="realizarPago(1)">Comprar</button>
    </div>
    <div class="card-payment">
        <h4>Plan de 3 meses</h4>
        <span class="precio">$200</span>
        <button class="btn btn-dark" (click)="realizarPago(2)">Comprar</button>
    </div>
    <div class="card-payment">
        <h4>Plan de 1 año</h4>
        <span class="precio">$750</span>
        <button class="btn btn-dark" (click)="realizarPago(3)">Comprar</button>
    </div>
</div>

<!-- <script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
    // Agrega credenciales de SDK 
    const mp = new MercadoPago('TEST-a535f7cd-0217-4c82-8f48-04793bebfc27', {locale: 'es-AR'});
    
    // Inicializa el Web Tokenize Checkout
    const tokenizer = mp.checkout({
        tokenizer: {
            totalAmount: 100,
            backUrl: 'https://localhost:4200/procesar-pago'
        }
    });

    tokenizer.render({
        container: '.tokenizer-container',
        label: 'Pagar'
    });
</script> -->
