
<div class="container-payment">
    <div class="card-payment">
        <h4>Plan de 1 mes</h4>
        <span class="precio">$100</span>
        <div class="btn-center">
            <div class="cho-container-1"></div>
        </div>
    </div>
    <div class="card-payment">
        <h4>Plan de 3 meses</h4>
        <span class="precio">$200</span>
        <div class="btn-center">
            <div class="cho-container-2"></div>
        </div>
    </div>
    <div class="card-payment">
        <h4>Plan de 1 año</h4>
        <span class="precio">$750</span>
        <div class="btn-center">
            <div class="cho-container-3"></div>
        </div>
    </div>
</div>